#content
  margin-left auto
  margin-right auto
  width 95%
  max-width 900px

#pagination
  a
    display block
    color color-meta
    font-family font-title
    margin-bottom 50px
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding: 1em 1.3em;
    border-radius: 4px;
    border: 2px solid #008cba;
    -webkit-transition: -webkit-transform 0.1s ease-out, border 0.1s ease-out, box-shadow 0.15s ease-out, color 0.1s ease-out;
    transition: transform 0.1s ease-out, border 0.1s ease-out, box-shadow 0.15s ease-out, color 0.1s ease-out;
    &:hover
      color #fff
      text-shadow none
      cursor: pointer;
      text-decoration: none;
      border: 2px solid #008cba !important;
      color: #008cba;
      box-shadow: 0 0 4px rgba(0, 118, 223, 0.5);
      -webkit-transform: scale(1.01562);
      -ms-transform: scale(1.01562);
      transform: scale(1.01562);

  .prev
    &:before
      content '\f053'
      padding-right 10px
      font-family font-icon

  .next
    &:after
      content '\f054'
      padding-left 10px
      font-family font-icon